@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$mainColor: #393E46;
$secondaryColor: #222831;
$keyColor: #F1F6F9;
$mainFont: 'Open sans', 'sans-serif';
$fontL: 2em;
$fontM: 1.5em;
$fontS: .5em;
.hh-serv{
    text-align: center;
}
.main-serv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: $keyColor;
}
.bt-pos{
    position: relative;
    bottom: 0;
    margin-top: 2em;
    height: 2em;
}
.boton-serv {
    background-color: $secondaryColor;
    color: $keyColor;
    width: 25em;
    height: 4em;
    transition: all .5s ease;
}
.boton-serv:hover{
    cursor:pointer;
    background-color: #393E4620;
    color: #393E46;
}
.sections-serv{
    background-color: #393E46;
    height: 8em;
    color: $keyColor;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5%;
    font-size: 1.5em;
}
.sectopms-serv2{
    width: 100%;
    height: 10em;
    background-color: #393E4650;
    color: #F1F6F9;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: $fontM;
}
.box-comp{
    -webkit-box-shadow: 2px 6px 51px 25px rgba(0,0,0,0.17);
    -moz-box-shadow: 2px 6px 51px 25px rgba(0,0,0,0.17);
    box-shadow: 2px 6px 51px 25px rgba(0,0,0,0.17);
    width: 50em;
    height: 40em;
    border: $mainColor solid 5px;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: 4.4em;
    text-align: center;    
}
