@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.topnav {
  overflow: hidden;
  background-color: white;
  flex-grow: 1;
  -webkit-box-shadow: 6px 20px 64px 4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 6px 20px 64px 4px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 20px 64px 4px rgba(0, 0, 0, 0.21); }

.topnav a {
  float: left;
  display: block;
  color: #222831;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1em;
  transition: all .5s ease; }

.topnav a:hover {
  background-color: #393E4650;
  color: #222831; }

.topnav a.active {
  background-color: #03506F60;
  color: black;
  border-right: #393E46 solid 2px;
  border-radius: 1px; }

.topnav .icon {
  display: none; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }

body {
  margin: 0%;
  padding: 0%;
  background-color: #F1F6F9;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

@media screen and (min-width: 600px) {
  .header-home {
    text-align: center;
    color: #393E46;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .main-home {
    display: flex;
    justify-content: center; }
  .img-head-sec {
    padding: 5em; }
  .imag-head {
    display: flex;
    flex-grow: 1;
    justify-content: center; }
  .sec1 {
    margin-top: 2em; }
  .mgb4 {
    margin-bottom: 4em; }
  .logoimg-home {
    box-sizing: content-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .logohm {
    width: 30em;
    margin-top: -5%;
    margin-bottom: -10%; }
  .aside-hm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0% 35%;
    margin-top: -5%;
    margin-bottom: 5em; }
  .art-hm {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .fontS {
    font-size: 0.5em; }
  .fontM {
    font-size: 1.5em; }
  .fontL {
    font-size: 2em; }
  .mckpimg-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .mockup {
    width: 40em; }
  .colwh {
    color: #F1F6F9;
    margin-top: 2em;
    margin-bottom: 2em; } }

@media screen and (max-width: 600px) {
  .mgb4 {
    margin-bottom: 4em; }
  .sec1 {
    width: 100%;
    margin: 4em 0em; }
  .logoimg-home {
    margin-top: -15%;
    margin-bottom: -15%; }
  .mckpimg-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .mockup {
    width: 25em; } }

@media screen and (min-width: 600px) {
  .posit-footer {
    position: relative;
    bottom: 0%;
    left: 0%;
    overflow: hidden;
    width: 100%; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393E46; }
  .footer a {
    color: black;
    text-decoration: none; }
  .contact-footer {
    background-color: #F1F6F9;
    border-radius: 5px; }
  .contact-footer a {
    width: 4em; }
  .fut {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly; }
  .fut a:hover {
    background-color: grey;
    width: auto;
    border-radius: 5px; }
  .fut-logo {
    width: 5em; }
  .bt-cnt {
    background-color: #F1F6F9;
    text-align: center;
    align-items: center;
    border: #F1F6F9 solid 2px;
    border-radius: 5px;
    margin: 5em 0;
    font-size: 2em;
    width: 10em;
    padding: .5%; }
  .bt-cnt:hover {
    background-color: #222831;
    color: #F1F6F9; }
  .bt-cnt a:hover {
    color: #F1F6F9; }
  .rigths {
    margin: 3% 0%;
    color: #F1F6F9;
    font-size: 0.5em; } }

@media screen and (max-width: 600px) {
  .posit-footer {
    width: 100%;
    height: 4em;
    position: relative;
    bottom: 0%; }
  .fut {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #393E46; }
  .fut-logo {
    width: 2em;
    border: gray solid 1px;
    border-radius: 15px;
    margin: 5px;
    padding: 5px; }
  .bt-cnt {
    display: flex;
    background-color: #222831;
    color: #F1F6F9;
    text-align: center;
    flex-direction: column; }
  .bt-cnt a {
    background-color: #F1F6F9;
    text-decoration: none;
    text-align: center;
    align-content: center;
    margin-bottom: 5em;
    transition: all 1s ease; }
  .bt-cnt:hover {
    background-color: #222831;
    color: white; } }

@media screen and (min-width: 600px) {
  .hh-serv {
    text-align: center; }
  .main-serv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F1F6F9; }
  .bt-pos {
    position: relative;
    bottom: 0;
    margin-top: 2em;
    height: 2em; }
  .boton-serv {
    background-color: #222831;
    color: #F1F6F9;
    width: 25em;
    height: 4em;
    transition: all .5s ease; }
  .boton-serv:hover {
    cursor: pointer;
    background-color: #393E4620;
    color: #393E46; }
  .sections-serv {
    background-color: #393E46;
    height: 8em;
    color: #F1F6F9;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5%;
    font-size: 1.5em; }
  .sectopms-serv2 {
    width: 100%;
    height: 10em;
    background-color: #393E4650;
    color: #F1F6F9;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 1.5em; }
  .box-comp {
    -webkit-box-shadow: 2px 6px 51px 25px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 2px 6px 51px 25px rgba(0, 0, 0, 0.17);
    box-shadow: 2px 6px 51px 25px rgba(0, 0, 0, 0.17);
    width: 50em;
    height: 40em;
    border: #393E46 solid 5px;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: 4.4em;
    text-align: center; } }

@media screen and (max-width: 600px) {
  .main-serv {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .box-comp {
    border: #393E46 solid 5px;
    margin: 0 2em 5em 2em;
    padding-bottom: 2em; }
  .sections-serv {
    background-color: #393E4620;
    height: 5em;
    padding-top: 10%;
    border-bottom: #F1F6F9 solid 5px; }
  .sectopms-serv2 {
    background-color: #22283170;
    padding: 4%; }
  .bt-pos {
    padding: 10% 10% 5% 10%; } }

@media screen and (min-width: 600px) {
  .hecon {
    margin-top: 2em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-bottom: 2em; }
  .hecon2 {
    font-size: 1em;
    justify-content: center;
    text-align: center;
    margin-top: 1em; }
  .contact {
    background-color: white;
    width: 28em;
    height: auto;
    margin: 5em auto;
    border-radius: 10px;
    border: #393E46 solid;
    padding-top: 3em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    -moz-box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.3); }
  .enva {
    border-color: #393E4620;
    transition: all .5s ease;
    background-color: #393E4650;
    color: #393E46; }
  .enva:hover {
    border: #222831 solid;
    color: white;
    background-color: #393E46;
    -webkit-box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.4); }
  .formulario {
    justify-content: center;
    align-content: center;
    text-align: center; }
  input {
    background-color: #393E4690;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border: #393E46 1px;
    border-width: 1px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    color: white; }
  textarea {
    color: white;
    background-color: #393E4690;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border: #393E46 1px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px; }
  label {
    display: block;
    float: center; }
  button {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-top: 1px;
    text-transform: uppercase;
    background-color: #393E46;
    border: #393E46 solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer; }
  button p {
    color: #fff; }
  span {
    color: #393E46; }
  .frm {
    background-color: #393E4650; }
  .aviso {
    font-size: 13px;
    color: #0e0e0e; }
  ::-webkit-input-placeholder {
    color: white; }
  ::-webkit-textarea-placeholder {
    color: #393E4630;
    background-color: #393E4610; }
  .formulario input:focus {
    outline: 0;
    border: 1px solid #393E46; }
  .formulario textarea:focus {
    outline: 0;
    border: 1px solid #393E46; } }

@media screen and (max-width: 600px) {
  #conten {
    display: flex;
    flex-direction: column;
    width: 100%; }
  #nave {
    position: fixed;
    top: 0;
    left: 0;
    font-size: .8em; }
  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
    width: auto;
    height: auto; }
  #pie {
    display: flex;
    flex-direction: column;
    background-color: #222831;
    width: auto; }
  .hecon {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    text-align: center; }
  .hecon2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center; }
  .contact {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: #393E46 solid;
    margin-top: 1em;
    padding: 5%;
    -moz-box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.3); }
  .formulario {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; }
  .enva {
    border-color: #393E4620;
    transition: all .5s ease;
    background-color: #393E4650;
    color: #393E46; }
  .enva:hover {
    border: #222831 solid;
    color: white;
    background-color: #393E46;
    -webkit-box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.4); }
  form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10%; }
  .fut {
    flex-wrap: wrap; }
  input {
    margin: 10% 0 0 0; }
  textarea {
    margin-top: 10%;
    margin-bottom: 10%; } }

@media screen and (min-width: 600px) {
  .hd-qs {
    font-size: 2em;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 8em; }
  .box-qs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 15em; }
  .sec-qs {
    border: #F1F6F9 solid 0.5em;
    background-color: #393E46;
    color: #F1F6F9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    width: 40em;
    height: 20em;
    border-radius: 15px; }
  .sec-qs:hover {
    border-radius: 5px;
    background-color: #393E4695;
    border: #222831 solid .2em;
    -webkit-box-shadow: -1px 9px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 9px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 9px 5px 0px rgba(0, 0, 0, 0.3); } }

@media screen and (max-width: 600px) {
  .hd-qs {
    text-align: center;
    padding: 2%;
    margin: 2em 0 1em 0; }
  .box-qs {
    padding: 5%;
    margin-bottom: 5em; }
  .sec-qs {
    border-radius: 5px;
    margin: 0 0 2em 0;
    padding: 5%;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite; }
  @keyframes example {
    0% {
      background-color: #F1F6F9; }
    25% {
      background-color: #393E46;
      color: white; }
    50% {
      background-color: #222831; }
    75% {
      background-color: #393E46; }
    100% {
      background-color: #F1F6F9; } } }
